
<div class = "userInfoContainer">       
    <div class="dpGrid"> 
      <img src= <%= session.user.picPath %>  width="200" height="200"/>
    </div>
    <div class="column">
      <h1>
        Name: 
        <span style="font-weight: lighter;">
          <%= session.user.firstName %> <%= session.user.lastName %>  </br>
        </span> 

        ID Number: 
        <span style="font-weight: lighter;">
          <%= session.user.idNumber %> </br>
        </span> 

        User Type: 
        <span style="font-weight: lighter;">
          <%= session.user.userType %> </br>
        </span> 

        Phone Number: 
        <span style="font-weight: lighter;">
          <%= session.user.phoneNum %> </br>
        </span>
         
      </h1>
      
    </div>
</div>