<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITSECWB - <%= title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">
  </head>

  <body class="mainBody">
    <div class = "userInfoContainer">       
        <div class="dpGrid"> 
          <img src= <%= session.user.picPath %>  width="200" height="200"/>
        </div>
        <div class="column">
          <h1>
            EDIT USER PAGE </br>
            Name: <%= session.user.firstName %> <%= session.user.lastName %> </br>
            ID Number: <%= session.user.idNumber %> (<%= session.user.userType %>)</br>
            Phone Number: <%= session.user.phoneNum %> </br>
          </h1>
          <div>
            <button><a href="/home">Back to Home</a></button>
            <button><a href="/logout">Log Out</a></button>
          </div>
        </div>
    </div>


    </hr>
      <div class = "mainContainer">
        <form action="/edit" method="post">
            Edit Phone Number:
            <!-- <textarea 
              placeholder="Input your phone number"
              id="textareaInput" 
              name="postInput"
              rows="4"
              cols="500"><%= session.user.phoneNum %></textarea> -->
              
              <input required name="editPhone" id="editPhone" type="text" placeholder="09*********" 
              value=<%= session.user.phoneNum %>><br/>
              <span id="edit-phone-error" style="color: red; display: none;">Enter a valid PH cellphone number</span>
              <br/>

            <div style = "display: flex; flex-direction: row-reverse;">
              <button id="edit-button" type="submit">Submit</button>
            </div>
        </form>
      </div>
    </hr>

  </body>

  <script src="/scripts/edit.js"></script>
</html>
