<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITSECWB - <%= title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">
  </head>

  <body class="mainBody">
    <div class = "userInfoContainer">       
        <div class="dpGrid"> 
          <img src= <%= session.user.picPath %>  width="200" height="200"/>
        </div>
        <div class="column">
          <h1>
            Name: <%= session.user.firstName %> <%= session.user.lastName %> </br>
            ID Number: <%= session.user.idNumber %> (<%= session.user.userType %>)</br>
          </h1>
          <div>
            <button id="logout-btn"><a href="/logout">Log Out</a></button>
          </div>
        </div>
    </div>

    <div class = "mainContainer">
      <form action="/home" method="post">
          Post here:
          <textarea 
            placeholder="Whats on your mind?"
            id="textareaInput" 
            name="postInput"
            rows="4"
            cols="500"></textarea>
          <div style = "display: flex; flex-direction: row-reverse;">
            <button type="submit">Submit</button>
          </div>
      </form>
    </div>

    </hr>

    <div class = "mainContainer">
            <% posts.forEach(post => { %>
                <div class="postContainer">
                  <img width="60" height="60" src=<%= post.picPath %>  />
                    <div class="postContent"></br>
                      <%= post.firstName %> <%= post.lastName %> </br>
                      <p>
                        <%= post.content %>
                      </p>
                    </div>
                </div>
            <% }); %>
    </div>

  </body>
</html>
